html {
    --light-bg: color(var(--background) blend(#999 85%));
    --very-light-bg: color(var(--background) blend(#999 92%));
}

body {
    padding:10px;
    padding-top: 0px;
    font-family: "Open Sans", sans-serif;
    background-color: var(--background);
    font-size: 15px;
    color: #333;
}

blockquote {
    font-style: italic;
    display: block;
    margin-left: 30px;
}

code {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    background-color: var(--light-bg);
    margin: 0;
    border-radius: 3px;
    margin: 5px;
}

pre {
    display: block;
    margin-top: 20px;
    line-height: 1.7;
    background-color: var(--light-bg);
    padding-left: 10px;
    width: 100%;
    border-radius: 3px;
}
pre code {
    padding: 0;
}

pre code .space {
    color: var(--light-bg)
}
pre.table {
    background-color: var(--backgroud);
}
pre.table code {
    background-color: var(--backgroud);
    padding: 0;
    margin: 0;
}

kbd {
    padding: 0 5px;
    background-color: var(--very-light-bg);
    font-family: "Roboto Mono","Courier New",Courier,monospace;
}
